* {
  margin: 0;
  padding: 0;
}

body {
  margin: 10vh 0;
  background: url("./../assets/images/battlegrass.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.external-pokemon {
  position: absolute;
  right: 12%;
  top: 38%;
  opacity: 0.8;
}

.external-pokemon img {
  width: 110px;
}

.pokedex {
  background: #b31111;
  border-radius: 1rem;
  max-width: 360px;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 70.5vh;
}

.pokedex-visor {
  background: #f2f2f2;
  border-radius: 1rem;
  height: 331px;
  max-width: 260px;
  min-width: 260px;
  margin: 35px auto 25px;
  padding: 0.5rem 1.5rem;
  border: 5px solid #0d0d0d;
}

.pokemon-identification-container {
  margin-bottom: 20px;
  margin-top: 10px;
}

.pokemon-identification {
  display: flex;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.pokemon-name {
  text-transform: capitalize;
  text-decoration: underline;
}

.pokemon-image {
  text-align: center;
  margin-bottom: 20px;
}

.pokemon-image picture img {
  max-width: 160px;
}

.pokemon-info-container {
  text-align: left;
}

.pokemon-info-container p {
  margin: 0.5rem 0;
}

.pokemon-info-content {
  margin: 30px 0 20px;
}

.pokedex-controls form {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.search-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.controls-container {
  position: relative;
  width: 25%;
  height: 80px;
  margin: auto 0;
}

.search-container .search-inputs {
  display: flex;
  justify-content: space-between;
}

.search-container .search-inputs input {
  width: 50px;
  text-align: center;
  border-radius: 10px;
  padding: 2px 3.5px;
  outline: 0;
}

.search-container .search-inputs input:nth-child(1) {
  background: #49a6a6;
}

.search-container .search-inputs input:nth-child(2) {
  background: #01bd35;
}

::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}

:-ms-input-placeholder {
  color: white;
}

.search-container .search-button input {
  padding: 17px 4px;
  border-radius: 50%;
  cursor: pointer;
  background: #f26b1d;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: white;
  outline: 0;
}

.search-button {
  text-align: center;
}

.controls-container .up {
  top: 0;
  left: 38%;
  border-radius: 10px 10px 0 0;
}

.controls-container .down {
  bottom: 0;
  left: 38%;
  border-radius: 0 0 10px 10px;
}

.controls-container .right {
  bottom: 38%;
  right: 0%;
  border-radius: 0 10px 10px 0;
}

.controls-container .left {
  bottom: 38%;
  left: 0;
  border-radius: 10px 0 0 10px;
}

.controls-container .up,
.controls-container .down {
  background-color: #222222;
  width: 22px;
  height: 50%;
}

.controls-container .left,
.controls-container .right {
  background-color: #222222;
  width: 50%;
}

.controls-container i {
  padding: 3px;
  cursor: pointer;
}

.controls-container .up i {
  padding-top: 0;
  padding-left: 5.5px;
}

.controls-container .down i {
  margin-top: 90%;
  padding-left: 5.5px;
}

.controls-container .right i {
  margin-left: 60%;
}

.controls-container .left i {
  padding-left: 5px;
}

.controls-container label {
  position: absolute;
}

.controls-container input {
  display: none;
}

.external-circle {
  background: #171818;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 40%;
  top: 38%;
  position: absolute;
  z-index: 10;
}

.internal-circle {
  background: #100f10;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 17%;
  top: 11.3%;
  position: absolute;
  z-index: 10;
}

@media (max-width: 992px) {
  body {
    margin: 0vh 0;
  }

  .pokedex {
    height: 72vh;
    margin-bottom: 14vh;
    margin-top: 14vh;
  }
}
